<?php
    /*
        Vista de formulario para el alta o la edision de Usuarios.
        Author: Gonza
        Create: 2021-10-25
    */
?>
<div class="card">
    <div id="formulario-user"></div>
    <div class="card-footer d-flex justify-content-between">
        <button type="button" title="Cancelar Accion" class="btn btn-danger" data-bs-target="#carouselUsuarios" data-bs-slide-to="0" aria-label="Slide 1" onclick="removeForm()"><i class="mx-3 fas fa-backspace" ></i> Volver</button>
        <button type="button" title="Realizar acción" class="btn btn-success" onclick="CheckUser('formUser')"><i class="mx-3 fas fa-check-double"></i> Confirmar</button>
    </div>
</div>