deployer.php
deployer.config.php
/system/config/*.json
/system/includes/traduccioncontenidos.inc.php
/.idea/
/.phpintel/
/css/custom.css
/css/maps
/downloaded/
/library/
/logs/
/nbproject/
/node_modules/
/tests/
/temp/*.csv
/*.log
test*.php
*.bak
*.copy
