<footer class="inner">
	<div class="my-3 py-3 headFoot">
		<div class="row align-items-center">
			<div class="logoContainer mb-5 mb-md-0 col-lg-2 col-md-3 col-12">
				<a class="logoFooter col-md-2 p-0" target="_blank" href="#header">
					<img class="logoFooter" src="<?php echo BASE_URL; ?>svg/logo_blanco.svg" alt="Logo de Tenela">
				</a>
			</div>
			<div class="links d-flex flex-column flex-sm-row justify-content-center col-12 col-lg-7 col-md-9">
				<a class="ml-3 font-weight-bold" target="_blank" href="<?php echo BASE_URL; ?>terms-cond">Términos y condiciones</a>
				<a class="ml-3 font-weight-bold" target="_blank" href="<?php echo BASE_URL; ?>priv-poli">Políticas de privacidad</a>
				<a class="ml-3 font-weight-bold" target="_blank" href="<?php echo BASE_URL; ?>faq">FAQ</a>
				<a class="ml-3 font-weight-bold" target="_blank" href="#AboutUs">Nosotros</a>
				<a class="ml-3 font-weight-bold" target="_blank" href="">Solicitalo</a>
			</div>
			<div class="col-lg-3 d-none d-lg-block pr-0">
				<button type="button" class="regretBtn font-weight-bold btnTenela btn btn-lg">ME ARREPENTÍ</button>
			</div>
		</div>
	</div>

	<div class="text-center footer-second">
		<div class="infoFoot w-100 row justify-content-center justify-content-lg-between m-0">
			<div class="col-lg-4 font-weight-bold">
				<p>Copyright &copy 2020</p>
				<p>Todos los derechos reservados Moovitech S.A.</p>
			</div>
			<div class="col-lg-4 mb-4">
				<a href="https://www.argentina.gob.ar/aaip/datospersonales/reclama/30716941023--RL-2021-1613816-APN-DNPDP#AAI" target="_blank">
					<img src="/svg/aaip-isologo.png" alt="Agencia de Acceso a la Información Pública">
				</a>
			</div>
			<div class="col-lg-4 thisSite text-left">
				<p>Este sitio asegura su información privada utilizando SSL, su información está 100% segura.</p>
			</div>
			<div class="d-block d-lg-none">
				<button type="button" class="footRegret btnTenela btn btn-lg">ME ARREPENTÍ</button>
			</div>
		</div>
	</div>
</footer>





