<?php
    /*
        Vista de formulario para la edision de CARGOS o IMPUESTOS.
        Author: Gonza
        Create: 2021-11-04
    */
?>
<div class="card">
    <div id="formulario-edit"></div>
    <div class="card-footer d-flex justify-content-between">
        <button type="button" title="Cancelar Accion" class="btn btn-danger" data-bs-target="#carouselImpuestos" data-bs-slide-to="0" aria-label="Slide 1" onclick="removeForm()"><i class="mx-3 fas fa-backspace" ></i> Volver</button>
        <button type="button" title="Realizar acción" class="btn btn-success" onclick="CheckData('formImpuestos')"><i class="mx-3 fas fa-check-double"></i> Confirmar</button>
    </div>
</div>