<?php
    $facks = [
        array(
            "titulo"=>"¿Quiénes somos?",
            "contenido"=>[
                array(
                    "titulo"=>"¿Qué es tenela?",
                    "texto"=>"Tenela es una plataforma de créditos personales de acreditación inmediata. Funciona de manera 100% online, bajo normas de seguridad y protección de datos que cuidan la privacidad de todos nuestros clientes."
                ),
                array(
                    "titulo"=>"¿Cómo funciona?",
                    "texto"=>"El trámite para la solicitud de un préstamo se gestiona desde nuestro sitio web. Una vez aprobado el préstamo, el dinero se deposita en tu cuenta a través de una transferencia bancaria."
                )
            ]
        ),
        array(
            "titulo"=>"Solicitud de crédito",
            "contenido"=>[
                array(
                    "titulo"=>"¿Cuáles son los pasos para solicitar un préstamo?",
                    "texto"=>'
                    <ol>
                        <li>Es mi primera vez: para pedir un préstamo en Tenela, tenés que completar la solicitud con los datos que se piden. <a href="">Solicitalo ahora</a>.<br>
                            <span>Ya soy cliente: ingresá con tu email y clave, y seleccioná la opción de <a href="">"Solicitar un nuevo préstamo"</a>.</span>
                        </li>
                        <li>Aceptá nuestros <a href="">términos y condiciones</a>, nuestras <a href="">políticas de privacidad</a>, y enviá la solicitud de préstamo.</li>
                        <li>Una vez enviada la solicitud del préstamo, Tenela chequea la veracidad de la información.</li>
                        <li>En caso de ser elegible, confirmamos tu préstamo, y te transferimos el préstamo en la fecha seleccionada a la cuenta bancaria que tengas sin necesidad de abrir una nueva.</li>
                    </ol>'
                ),
                array(
                    "titulo"=>"¿Cuándo recibo el préstamo?",
                    "texto"=>'Una vez que el otorgamiento del préstamo fue confirmado, la acreditación (es decir, ver el dinero en la cuenta) demora entre 24 y 48 horas hábiles, dependiendo de tu entidad bancaria'
                ),
                array(
                    "titulo"=>"¿Cómo recibo el préstamo?",
                    "texto"=>'<p>El dinero es depositado en la cuenta que indicaste en el formulario de solicitud (a través de tu CBU o alias de CBU).</p> 
                    <p>¿Puedo solicitar más de un préstamo a la vez?<br>No, solamente podés solicitar un préstamo a la vez. Podés volver a pedir otro una vez que hayas cancelado el préstamo anterior.</p>'
                )
            ]
        ),
        array(
            "titulo"=>"Requisitos y calificación",
            "contenido"=>[
                array(
                    "titulo"=>"¿Qué requisitos necesito para solicitar el préstamo?",
                    "texto"=>'
                    <ul>
                        <li>Ser ciudadano o residente en Argentina</li>
                        <li>Ser mayor de edad</li>
                        <li>Tener un celular propio</li>
                        <li>Tener un correo electrónico de uso personal</li>
                        <li>Ser el titular de una cuenta bancaria</li>
                        <li>Tener ingresos netos demostrables de $7.000 como mínimo</li>
                    </ul>'
                ),
                array(
                    "titulo"=>"¿Qué papeles tengo que presentar?",
                    "texto"=>'¡Ninguno! Aplicás sólo con tu DNI y el CBU de tu cuenta bancaria. También podés usar el Alias de tu cuenta.'
                ),
                array(
                    "titulo"=>"Estoy en el Veraz, ¿puedo acceder a un crédito?",
                    "texto"=>'¡Sí, podes! No hay problema con que estés en el Veraz. Nuestro análisis se compone de otros factores además del Veraz.'
                ),
                array(
                    "titulo"=>"¿Qué tipos de cuentas califican?",
                    "texto"=>'Podés aplicar con cuentas bancarias. Para ello, necesitas tener a mano el CBU de tu cuenta.'
                ),
                array(
                    "titulo"=>"¿Cómo sé si mi solicitud fue aprobada o rechazada?",
                    "texto"=>'En cualquiera de los dos casos, luego de completar el formulario de solicitud de crédito, recibirás un mensaje donde se te informará si el préstamo fue aprobado o rechazado.'
                ),
                array(
                    "titulo"=>"¿Por qué mi solicitud fue rechazada?",
                    "texto"=>'Las causas de rechazo se pueden deber a que tus datos personales no hayan podido ser comprobados, que tu análisis crediticio no sea positivo. En ese caso contáctanos a través de info@tenela.com y responderemos a la brevedad tu consulta.'
                ),
                array(
                    "titulo"=>"¿Puedo solicitar un crédito siendo jubilado/a, pensionado/a o cobrando asignación?",
                    "texto"=>'¡Sí, podés realizar la solicitud! Es importante que tengas una cuenta y que seas el titular de esta para poder depositarte el crédito y realizar el cobro una vez llegada la fecha de vencimiento.'
                )
            ]
        ),
        
        array(
            "titulo"=>"Datos bancarios",
            "contenido"=>[
                array(
                    "titulo"=>'¿Qué es el CBU, CVU, Alias? ¿Por qué me lo piden?',
                    "texto"=>'
                    <p>El CBU (Clave Bancaria Uniforme) es un código único e irrepetible compuesto por 22 dígitos que sirve para identificar las cuentas bancarias en el sistema bancario argentino.</p>
                    <p>El CVU es la Clave Virtual Uniforme que identifica a una cuenta virtual, no bancaria, como las que ofrecen las billeteras virtuales, las fintech, o los proveedores de servicios de pago. Es como el CBU, pero para cuentas digitales.</p>
                    <p>El Alias es una clave alfanumérica creada por el Banco Central y está asociada a una CVU o CBU, según corresponda. En otras palabras, sería como si le pusieras un sobrenombre a cada cuenta, para que te sea más fácil compartirla, ya que cumple con las mismas funciones. Mientras que el CBU (numérico) no se puede modificar (ya se asigna al darse de alta la cuenta), el Alias se puede cambiar y crear uno nuevo con las palabras y dígitos que uno quiera (desde Home Banking o Banca Internet).</p>
                    <p>Al brindarnos tu CBU, CVU o Alias, podemos depositarte el préstamo en tu cuenta.</p>'
                ),
                array(
                    "titulo"=>'¿Dónde puedo consultar mi CBU, CVU o Alias?',
                    "texto"=>'
                    <p>Podés obtener tu número de CBU desde el cajero automático, ingresando en “Consultas” → Número de CBU. También podés consultarlo desde la página web de Home Banking de tu banco.</p>
                    <p>Para obtener tu CVU, ingresá en tu perfil de usuario dentro de la app de tu plataforma donde tenés el dinero.</p>
                    <p>Para conocer tu Alias, ingresá desde la página web de Home Banking de tu banco al listado de tus cuentas, y así podrás consultar el Alias de la cuenta que quieras saber.</p>'
                )
            ]
        ),

        array(
            "titulo"=>"Cuotas y pagos",
            "contenido"=>[
                array(
                    "titulo"=>'¿Hasta qué monto puedo solicitar de crédito?',
                    "texto"=>'Tenela te ofrece préstamos desde $10 a $200. El monto al que puedas acceder dependerá del resultado del análisis crediticio del préstamo solicitado, el cual nos indicará si podemos concederte el monto total o parcialmente.'
                ),
                array(
                    "titulo"=>'¿En cuántas cuotas puedo solicitar mi crédito?',
                    "texto"=>'Los créditos se cancelan en una sola cuota.'
                ),
                array(
                    "titulo"=>'¿Qué plazos de cancelación tienen los créditos?',
                    "texto"=>'Podés pedir créditos con plazos de pago de 2 a 10 días.'
                ),
                array(
                    "titulo"=>'¿Cuándo hago la devolución del préstamo?',
                    "texto"=>'La fecha de vencimiento para devolver el préstamo con los intereses correspondientes es la informada cuando te confirmamos el préstamo.'
                ),
                array(
                    "titulo"=>'¿Puedo realizar un pago anticipado?',
                    "texto"=>'Sí, cuando quieras podés cancelar de forma anticipada el préstamo. Recordá que en este caso se pueden adicionar cargos de gestión anticipada.'
                ),
                array(
                    "titulo"=>'¿Cómo hago la devolución del préstamo?',
                    "texto"=>'La cancelación del crédito (el pago) se hace a través de débito automático, en la misma cuenta que te acreditamos el préstamo. Asegurate de tener fondos suficientes en tu cuenta para pagar el monto total el día del vencimiento (caso contrario, vas a incurrir en mora, con los intereses correspondientes).'
                )
            ]
        ),

        array(
            "titulo"=>"Retrasos y mora",
            "contenido"=>[
                array(
                    "titulo"=>'¿Qué significa que estoy en mora en el pago de mi préstamo?',
                    "texto"=>'Estar en mora es estar retrasado en el pago de la cuota de tu préstamo. Es decir, que ya pasó el vencimiento y no pagaste totalmente la cuota correspondiente. Trata de cancelar tu préstamo lo antes posible para que no genere intereses punitorios y no afecte su historial crediticio en Tenela.'
                ),
                array(
                    "titulo"=>'¿Qué son los intereses punitorios y cómo evitarlos?',
                    "texto"=>'<p>Se trata de cargos diarios extra (intereses), que se suman al valor original de la cuota del crédito cuando éste figura en mora en el sistema; es decir, cuando estás atrasado en el pago del préstamo. Para evitarlas, es necesario que te comuniques con el sector de Cobranzas de Tenela (cobranzas@tenela.com) para informar la imposibilidad de cancelar la cuota y para realizar un “acuerdo de pago”.</p>

                    <p>Esta gestión debe realizarse antes de la fecha de vencimiento, ya que una vez llegada dicha fecha, no será posible la excepción de intereses punitorios ni compensatorios.</p>'
                ),
                array(
                    "titulo"=>'¿Qué hago si a la fecha de vencimiento no puedo pagar mi cuota?',
                    "texto"=>'Si tenés inconvenientes para pagar las cuotas de tu préstamo, comunícate en forma inmediata con nosotros a través de cobranzas@tenela.com y te ayudaremos a solucionarlo. Recordá que el atraso en tus pagos te generará otros cargos adicionales por tardanza como intereses punitorios y gastos de gestión y cobranza.'
                )
            ]
        ),

        array(
            "titulo"=>"Renovación",
            "contenido"=>[
                array(
                    "titulo"=>'¿Es posible renovar mi préstamo?',
                    "texto"=>'Sí, a partir de la cancelación del 100% del crédito anterior podés renovar tu crédito o solicitar uno nuevo.'
                ),
                array(
                    "titulo"=>'¿Qué beneficios obtengo si renuevo?',
                    "texto"=>'Vas a poder solicitar un monto mayor con mejores condiciones, siempre en función de tu situación crediticia actual.'
                )
            ]
        )
    ];

?>
<section class="container-fluid">
    <div class="container inner text-left xxlVH">
        <div class="row ">
            <div class="col-lg-12 my-4 d-flex justify-content-center text-center">
                <h2 class="faqTitle my-3">Preguntas Frecuentes</h2>
            </div>
            <div class="w-100 mb-5">
                <div class="accordion" id="accordionFacks">
                    <?php foreach($facks as $indice => $fack){ ?>
                        <div class="card">
                            <div class="card-header" id="heading<?php echo($indice); ?>">
                                <h2 class="mb-0">
                                    <button type="button" aria-expanded="<?php echo((($indice === 0)? "true":"false")); ?>" class="btn btn-block text-left d-flex justify-content-between align-items-center elefack <?php echo((($indice === 0)? "":"collapsed")); ?>" type="button" data-toggle="collapse" data-target="#collapse<?php echo($indice); ?>" aria-controls="collapse<?php echo($indice); ?>">
                                        <?php echo($fack["titulo"]); ?>
                                        <div>
                                            <i class="bg-transparent panel-collapse collapse show d-none fas fa-angle-right"></i>
                                        </div>
                                    </button>
                                </h2>
                            </div>
                            <div id="collapse<?php echo($indice); ?>" class="collapse showBg <?php echo((($indice === 0)? "show":"")); ?>" aria-labelledby="heading<?php echo($indice); ?>" data-parent="#accordionFacks">
                                <div class="card-body">
                                    <?php foreach($fack["contenido"] as $contenido){ ?>
                                        <h5 class="my-2"><?php echo($contenido["titulo"]); ?></h5>
                                        <p><?php echo($contenido["texto"]); ?></p>
                                    <?php } ?>
                                </div>
                            </div>
                        </div>
                    <?php } ?>
                </div>
            </div>
        </div>
    </div>
</section>