deployer.config.php
/logs/
/temp/
/test/
/library/
/noticias/
/downloaded/
/biblioteca/
/tools/
/*.log
/*.sql
/dark*.php
/ftphome/
/nbproject/private/
/nbproject/
*/vendor
/vendor
/*.deleted.*
/*/*.deleted.*
/*.deleted
/*/*.deleted
/deleted
atest*.php
*.xlsx
*.bak.*
*.bak
*.bak.php
*.bak.js
*.bak.css
*.copy
/views/usersmenu/*.htm