	<div class="calculator row inner justify-content-sm-center position-relative">
		
		<div class="col-lg-6 col-md-6 col-sm-9 col-12 d-sm-flex flex-sm-column p0 marginCalc">
			<div class="innerCalculator mx-auto d-flex flex-column justify-content-between">
				<div class="d-flex justify-content-around mb-4">
					<div class="numStyle numBg">1</div>
					<div class="numStyle numBg">2</div>
					<div class="numStyle numBg">3</div>
					<div class="numStyle">4</div>
				</div>

				<h3 class="titleSize m-0">¿Dónde depositamos<br>el dinero?</h3>
				<form id="frmCBU" name="frmCBU" class="form-group">
					<div class="position-relative">
						<input type="text" name="cbu" id="cbu" class="inputData borderTop" placeholder="INGRESA TU CBU" title="Escribe tu número de CBU" required value="<?php echo $onboarding->solictemp->data->cbu??null; ?>" maxlength="22">
					</div>
					<div class="position-relative">
						<p class="expiration my-2">¿Qué es el CBU?</p>
						<p class="forgot">La Clave Bancaria Uniforme, a veces llamada Clave Bancaria Única, es un código publico utilizado en Argentina por los bancos para la identificación de las cuentas de sus clientes.</p>
					</div>
					
					<div class="mb-1">
						<label class="custom-radio-checkbox justify-content-center text-left">
							<input class="custom-radio-checkbox__input" type="checkbox" name="checkDeb" id="checkDeb" <?php echo (!empty($onboarding->solictemp->data->checkDeb))?'checked':''; ?>>
							<span class="custom-radio-checkbox__show custom-radio-checkbox__show--radio"></span>
							<span class="custom-radio-checkbox__text summaryTable infoCheck">AUTORIZO QUE SE ME DEBITE EL MONTO DEL PRÉSTAMO DE MI CUENTA BANCARIA EN LA FECHA DE VENCIMIENTO</span>
						</label>
					</div>

					<div class="pt-3 btnContainers">
						<button type="button" class="btnTenela btnBack" title="Regresar al paso anterior" id="btnBack"><i class="fas fa-arrow-left"></i></button>
						<button class="btnTenela calculatorBtn px-4" type="button" id="btnNext" title="Ir al siguiente paso">SIGUIENTE <i class="fas fa-arrow-right"></i> </button>
					</div>
				</form>
			</div>
		</div>

<?php
require_once("simulador-calculadora.htm");
?>
	</div>
<?php
$theToken = $onboarding->GenToken('ingresar-cbu');
?>
<json class="json"><?php
echo Base64_encode('{"token":"'.$theToken.'","js":"ingresar-cbu","callback":"InitIngresarCBU"}');
?></json>
